<<<<<<< HEAD

/* This is Week1.css style sheet for Week 1 assignment, modifying Week 0 assignment bassed on Professor's feedback to use different font, alignmentl and color scheme */



h1{
    color: rgb(137, 50, 187);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

h2{
    color: rgb(18, 89, 194);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

p{
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

ul{
    color:rgb(184, 18, 148);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    color: green; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}



=======

/* This is Week1.css style sheet for Week 1 assignment, modifying Week 0 assignment bassed on Professor's feedback to use different font, alignmentl and color scheme */



h1{
    color: rgb(137, 50, 187);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

h2{
    color: rgb(18, 89, 194);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

p{
    color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

ul{
    color:rgb(184, 18, 148);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li{
    color: green; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}



>>>>>>> bdef5dc1b253ade9a50c33b3159d8271939a951e
